<h1>Demo</h1>
<input type ="text" [(ngModel)]="title">
{{ title }}
<input type ="text" [(ngModel)]="power">
{{ power | exponential }}

<div *ngIf="title === 'anabel'">
    este es anabel
</div>

<div *ngIf="title === 'julian'">
    este es julian
</div>

<div *ngIf="title === 'camilo'">
    este es camilo
</div>

<div [ngSwitch]="title">
    <p *ngSwitchCase="'anabel'">Este es anabel</p>
    <p *ngSwitchCase="'julian'">Este es julian</p>
    <p *ngSwitchCase="'camilo'">Este es camilo</p>
    <p *ngSwitchDefault>No coincide</p>
</div>

<button (click)="addItem()">Add Item</button>

<ul>
    <li *ngIf ="items.length === 0">La lista esta vacia</li>
    <li *ngFor = "let name of items; index as i">
        {{ name }}  {{ i }}
        <button (click)="deleteItem(i)">Delete Item</button>
    </li>
</ul>